:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html,
body {
  margin: 0;
  padding: 0;
}

.bkgWhite {
  background-color: white;
}

body {
  height: 100vh;
  width: 100vw;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #ededed;
}



.sidebar-nav-button {
    text-wrap: nowrap;
    color: black;
    font-size: small;
    padding: 1em;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.2s ease;
    background-color: #e0e0e0
}

.profileContainer * {
    margin-bottom: 16px;
}

.cardPerfil {
  background-color: white;
}

#card {
    background: linear-gradient(135deg, rgb(0, 119, 237) 20%, #e7eafa 110%);
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: 600;
    box-shadow: 12px 12px 0 rgba(7, 7, 7, 0.1);
}
#card p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 16px;
}

#card span {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

